/* 
---------------------------------------------
Pricing
--------------------------------------------- 
*/

.pricing-tables .tables-left-dec img {
    width: 418px;
    height: 851px;
    left: 0;
    top: 120px;
    position: absolute;
    z-index: 1;
  }
  
  .pricing-tables .tables-right-dec img {
    width: 359px;
    height: 848px;
    right: 0;
    top: 45px;
    position: absolute;
    z-index: 1
  }
  
  .pricing-tables {
    z-index: 2;
    position: relative;
    padding-top: 120px;
    margin-top: 0px;
  }
  
  .pricing-tables .section-heading {
    text-align: center;
    margin-bottom: 60px;
  }
  
  .pricing-tables .section-heading h2 {
    text-align: center;
    margin: 0px 60px 0px 60px;
    margin-bottom: -5px;
    position: relative;
    z-index: 1;
  }
  
  .pricing-tables .item {
    position: relative;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    border-radius: 45px;
  }
  
  .pricing-tables .item h4 {
    font-size: 20px;
    font-weight: 700;
    color: #2a2a2a;
  }
  
  .pricing-tables .item em {
    color: #ff695f;
    font-size: 15px;
    display: block;
    margin-top: 25px;
    text-decoration: line-through;
    font-style: normal;
  }
  
  .pricing-tables .item span {
    font-size: 44px;
    color: #ff695f;
    font-weight: 700;
    display: block;
    margin-top: -5px;
  }
  
  .pricing-tables .item ul {
    margin-top: 30px;
  }
  
  .pricing-tables .item ul li {
    display: block;
    font-size: 15px;
    color: #7a7a7a;
    margin-bottom: 20px;
  }
  
  .pricing-tables .item .main-blue-button {
    margin-top: 40px;
  }
  

  .pricing-tables .first-item {
    background-image: url(../images/first-plan-bg.png);
  }
  
  .pricing-tables .second-item {
    background-image: url(../images/second-plan-bg.png);
  }
  
  .pricing-tables .third-item {
    background-image: url(../images/third-plan-bg.png);
  }
  .pricing-tables .fourth-item {
    background-image: url(../images/third-plan-bg.png);
  }



  .title-section1{
    width:1400px;
    margin-left: 200px;
  }

  .divider1_features {
    display: block;
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: 220px;
    width: 100px;
    height: 3px;
    border-radius: 40px;
    background: linear-gradient(135deg,#ce76f7,#f2a6fa);
  }



  
  .divider2 {
    display: block;
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: 15px;
    width: 100px;
    height: 3px;
    border-radius: 40px;
    background: linear-gradient(135deg,#ce76f7,#f2a6fa);
  }


  .divider3 {
    display: block;
    margin-top: 35px;
    margin-bottom: 32px;
    margin-left: 15px;
    width: 100px;
    height: 3px;
    border-radius: 40px;
    background: linear-gradient(135deg,#ce76f7,#f2a6fa);
  }


  .col-lg-4 .button a{/*style of register /submission button*/
    border-radius: 10px;
    border-width: 0px;
    box-shadow: lightblue;
    border: medium;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background:rgb(143, 222, 248);
    display: inline-block;
    padding: 15px 32px;
  }




  

  .card2{
    margin-bottom: 100px;
    width:800px;
    height:480px;
    margin-left: 150px;
    position:relative;
    border-radius: 20px;
    cursor:pointer;
    box-shadow: 0 0 20px rgb(145, 85, 255);

}

.card2 img{
    
    position:absolute;
    width:100%;
    
  
    border-radius: 10px;

}

.divider_founder {
  display: block;
  margin-top: 16px;
  margin-bottom: 32px;
  margin-left: 320px;
  width: 500px;
  height: 3px;
  border-radius: 40px;
  background: linear-gradient(135deg,#ce76f7,#f2a6fa,white);
}
.divider_founder1 {
  display: block;
  margin-top: 16px;
  margin-bottom: 32px;
  margin-left: 250px;
  width: 500px;
  height: 3px;
  border-radius: 40px;
  background: linear-gradient(135deg,#ce76f7,#f2a6fa,white);
}

.content2{
    margin-top: 35px;
    position: absolute;
    width: 100%;
    height: 420px;
    margin-bottom: 100px;
    padding: 0.4em 1.5em;
    font-size:10px;
    border-radius: 10px;
    transform:scale(0.9);
    color:rgb(10, 10, 10);
    border: 1px solid rgba(255,255,255,0.164);
    box-shadow: 0 0 20px rgb(145, 85, 255);
    overflow: hidden;
    transition: all .4s;
}

.content2 h2{
    font-size: 50px;
}
.content2 p{
    font-size: 2.0em;
    font-family: sans-serif;
}
.card2:hover .content2{
    height:420px;
}




.card3{
  margin-bottom: 100px;
  width:800px;
  height:1230px;
  margin-left: 150px;
  position:relative;
  border-radius: 20px;
  cursor:pointer;
  box-shadow: 0 0 20px rgb(145, 85, 255);

}

.card3 img{
  
  position:absolute;
  width:100%;
  

  border-radius: 10px;

}



.content3{
  margin-top: 35px;
  position: absolute;
  width: 100%;
  height: 1230px;
  margin-bottom: 100px;
  padding: 0.4em 1.5em;
  font-size:10px;
  border-radius: 10px;
  transform:scale(0.9);
  color:rgb(10, 10, 10);
  border: 1px solid rgba(255,255,255,0.164);
  box-shadow: 0 0 20px rgb(145, 85, 255);
  overflow: hidden;
  transition: all .4s;
}

.content3 h2{
  font-size: 50px;
}
.content3 p{
  font-size: 2.0em;
  font-family: sans-serif;
}
.card3:hover .content3{
  height:1230px;
}





.founder_button a{/*style of register /submission button*/
  border-radius: 10px;
  border-width: 0px;
  box-shadow: lightblue;
  border: medium;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background:rgb(143, 222, 248);
  display: inline-block;
  padding: 15px 32px;
}



  @media(max-width: 580px){
    .divider1_features{
      display: block;
      margin-top: 16px;
      margin-bottom: 32px;
      margin-left: 130px;
      width: 100px;
      height: 3px;
      border-radius: 40px;
      background: linear-gradient(135deg,#ce76f7,#f2a6fa);
    }
    
    .card2{
      margin-top: 1px;
      margin-left: 1px;
       height:870px;
       margin-bottom: 20px;
       width: 100%;
       max-height: fit-content;
       overflow-x: hidden;
     }
     .card2 {
       width: 100%;
     }
     .content2{
         margin-top: 1px;
         height: 870px;
         
     }
     .content2 h2{
       font-size: 50px;
     }
     .content2 p{
      font-size: 19px;
     }
     .card2:hover .content2{
         height: 870px;
     }
 
  .title-section1{
    margin-left: 0px;
    width: 350px;
  }
     .divider_founder {
      display: block;
      margin-top: 16px;
      margin-bottom: 32px;
      width: 250px;
      margin-left: 50px;
      height: 3px;
      border-radius: 40px;
        background: linear-gradient(135deg,#ce76f7,#f2a6fa,white);
       }
       .divider_founder1 {
        display: block;
        margin-top: 16px;
        margin-bottom: 32px;
        margin-left: 50px;
        width: 250px;
        height: 3px;
        border-radius: 40px;
          background: linear-gradient(135deg,#ce76f7,#f2a6fa,white);
         }



         .card3{
          margin-top: 1px;
          margin-left: 1px;
           height:1480px;
           margin-bottom: 20px;
           width: 100%;
           max-height: fit-content;
           overflow-x: hidden;
         }
         .card3 {
           width: 100%;
         }
         .content3{
             margin-top: 1px;
             height: 1500px;
             
         }
         .content3 h2{
           font-size: 50px;
         }
         .content3 p{
          font-size: 19px;
         }
         .card3:hover .content3{
             height: 1500px;
         }
  
  .divider2 {
    display: block;
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: 75px;
    width: 100px;
    height: 3px;
    border-radius: 40px;
    background: linear-gradient(135deg,#ce76f7,#f2a6fa);
  }
.ourteam_img1{
  height: 70px;width: 150px; margin-left: 1px;border-radius: 20px;
}

  .divider3 {
    display: block;
    margin-top: 35px;
    margin-bottom: 32px;
    margin-left: 85px;
    width: 70px;
    height: 3px;
    border-radius: 40px;
    background: linear-gradient(135deg,#ce76f7,#f2a6fa);
  }
  .ourteam_img1 img{
    margin-left:40px;
  
    
    width: 150px;
    
    border-radius: 45px;
    height:70px;
    
}
.col-lg-4{
  padding-bottom: 10px;
}

      .content::-webkit-scrollbar{
        width: 5px;
      }
      }
  